/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.default-1{
    margin: 0 auto;
    width: 65%;
}

.default-2{
    margin: 0 auto;
    width: 60%;
}

.flex{
    display: flex;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: .3rem .7rem;
}

/* HEADER */
header{
    width: 100%;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 5.8rem;
}

header ul li{
    margin: 0 1rem;
    list-style-type: none;
    font-size: .9rem;
    color: gray;
}

#align-right{
    text-align: end;
}

.left-part{
    height: 2rem;
    width: 50%;
}

.right-part{
    height: 2rem;
    width: 50%;
}
/* FINE HEADER */

/* MAIN */
.container-light-blue{
    width: 100%;
    height: 29rem;
    background-color: #b4d0e7;
    padding-top: 3rem;
    position: relative;
}

h1.titolo{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.description-title{
    font-size: .8rem;
}

.description-title p{
    margin: 1.3rem 0;
}

.description-title i{
    margin-top: 2rem;
}

.img-title img{
    width: 100%;
    height: 100%;
}

.piano-business{
    margin-top: 8rem;
    font-size: 1.7rem;
}

.checkbox{
    margin-top: 2rem;
}

.checkbox input:nth-child(3){
    margin-left: 5rem;
}

/* VERTICAL CARDS */
.plans{
    justify-content: space-between;
    margin-top: 2rem;
}

.card{
    border: 2px #d7d7d9 solid;
    width: 30%;
    font-size: .9rem;
}

.title-plans{
    text-align: center;
    margin: .6rem 0;
}

.cost-plans{
    margin: 2rem auto;
    width: 80%;
}

.prezzo{
    margin: 1rem 0;
    font-size: .8rem;
    font-weight: 700;
}

.durata{
    color: gray;
    font-size: .7rem;
}

.description-plans{
    margin: 2rem auto;
    width: 80%;
}

.margin-of-description-plans{
    margin: 1rem 0;
}

#button-plans{
    margin-top: 2rem;
    width: 100%;
    padding: .6rem 0;
}

.acquista-ora{
    margin: 1.5rem 0;
    font-size: .8rem;
}

.description-plans hr{
    width: 3rem;
}

.punti-salienti{
    margin: 2rem auto;
    width: 80%;
}

.punti-salienti h3{
    margin: 2rem 0;
}

.punti-salienti p{
    margin: 1rem 0;
}


.punti-salienti i{
    color: blue;
}
/* FINE VERTICAL CARDS */

/* HORIZONTAL CARD */
.card-row{
    border: 2px #d7d7d9 solid;
    width: 100%;
    margin-top: 2rem;
}

.organaizer-plane-row{
    justify-content: space-between;
} 

.description-plane-row{
    width: 70%;
    padding: 1rem 2rem;
}

.description-plane-row h3{
    font-size: 1.5rem;
}

.description-plane-row h4{
    margin-top: .7rem;
    margin-bottom: 2rem;
    font-size: .9rem;
}

.description-plane-row p{
    font-size: .8rem;
}

.button-plane-row{
    width: 30%;
    justify-content: flex-end;
    padding: 1rem;
}

#button-plans-row{
    width: 70%;
    height: 20%;
}
/* FINE HORIZONTAL CARD */

/* IMMAGINE PIU TESTO */
.img-text{
    height: 25rem;
    margin-top: 6rem;
}

.img-text img{
    width: 100%;
    height: 100%;
}

.text-of-img{
    padding: 2.5rem 2rem;
}

.text-of-img p{
    margin: 1rem 0;
}

#button-partner{
    background-color: white;
    border: 1px gray solid;
    color: gray;
    padding: .6rem .7rem;
}
/* FINE IMMAGINE PIU TESTO */

.img-text~h2{
    margin-top: 6.5rem;
}

/* OPERAZIONI */
.operazioni-linex3{
    justify-content: space-between;
    margin-top: 3rem;
}

.operazione{
    width: 30%;
    text-align: center;
}

.operazione img{
    width: 90%;
    height: 50%;
}

.operazione h3{
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: .7rem;
}

.operazione p{
    font-size: .8rem;
    text-align: start;
}
/* FINE OPERAZIONI */

.n-team h2{
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.n-team{
    margin-bottom: 6.5rem;
}

/* AZIENDE */
.four-aziende{
    width: calc(100% / 3);
    flex-wrap: wrap;
    justify-content: center;
}

.azienda{
    width: 15.824rem;
    height: 15.824rem;
    justify-content: center;
    align-items: center;
}

.azienda img{
    width: 50%;
    height: 50%;
    filter: invert(1);
}

#ridimensionamento-img{
    height: 10%;
}

/* COLORI */
.green{
    background-color: #a2d39b;
    border: 10px #d1e9cd solid;
}

.brown{
    background-color: #61082b;
}

.light-blue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.dark-red{
    background-color: #d5001f;
}

.sky{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}
/* FINE COLORI */

.azienda-principale{
    background-color: #f5f5f5;
    width: calc(100% / 3);
    height: calc(15.824rem * 2);
    padding: 1.5rem;
}

.azienda-principale img{
    width: 50%;
    height: 25%;
}

.azienda-principale hr{
    width: 20%;
}

.azienda-principale p{
    margin: 2rem 0;
    font-size: .9rem;
}

.porta-drop-in-azienda{
    background-color: #b4d0e7;
    width: 100%;
    height: 17rem;
}

.organaizer-drop-in-azienda{
    justify-content: space-between;
}

.organaizer-drop-in-azienda h1{
    color: #610c2f;
}

#button-drop-in-azienda{
    background-color: white;
    color: black;
    height: 10%;
    width: 25%;
}
/* FINE AZIENDE */

.domande-frequenti{
    margin-top: 7rem;
}

.organaizer-domande{
    justify-content: space-between;
}

.domande-frequenti hr{
    margin: 1.5rem 0;
}

.domande-frequenti h2{
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

/* FINE MAIN */
footer{
    background-color: black;
    height: 20rem;
    margin-top: 6rem;
    padding-top: 4rem;
}

footer section.another{
    background-color: yellow;
    height: 10rem;
    margin-bottom: 3rem;
}

.footer-list{
    width: calc(100% / 5);
    height: 7rem;
    background-color: #ff0000;
    border: 2px blue dashed;
}

.lingua{
    color: white;
    margin-top: 1rem;
    font-size: .8rem;
}

footer hr{
    width: 9rem;
}