/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.default-1{
    margin: 0 auto;
    width: 65%;
}

.default-2{
    margin: 0 auto;
    width: 60%;
}

.flex{
    display: flex;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: .3rem .7rem;
}

/* HEADER */
header{
    width: 100vw;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 5.8rem;
}

header ul li{
    margin: 0 1rem;
    list-style-type: none;
    font-size: .9rem;
    color: gray;
}

#align-right{
    text-align: end;
}

.left-part{
    height: 2rem;
    width: 50%;
}

.right-part{
    height: 2rem;
    width: 50%;
}

/* MAIN */
.container{
    width: 100vw;
    height: 29rem;
    background-color: #b4d0e7;
    padding-top: 3rem;
}

h1.titolo{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.description-title{
    font-size: .8rem;
}

.description-title p{
    margin: 1.3rem 0;
}

.description-title i{
    margin-top: 2rem;
}

.img-title img{
    width: 37rem;
    height: 22rem;
}