/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.default-1{
    margin: 0 auto;
    width: 65%;
}

.default-2{
    margin: 0 auto;
    width: 60%;
}

.flex{
    display: flex;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: .3rem .7rem;
}

/* HEADER */
header{
    width: 100%;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 5.8rem;
}

header ul li{
    margin: 0 1rem;
    list-style-type: none;
    font-size: .9rem;
    color: gray;
}

#align-right{
    text-align: end;
}

.left-part{
    height: 2rem;
    width: 50%;
}

.right-part{
    height: 2rem;
    width: 50%;
}
/* FINE HEADER */

/* MAIN */
.container-light-blue{
    width: 100%;
    height: 29rem;
    background-color: #b4d0e7;
    padding-top: 3rem;
    position: relative;
}

h1.titolo{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.description-title{
    font-size: .8rem;
}

.description-title p{
    margin: 1.3rem 0;
}

.description-title i{
    margin-top: 2rem;
}

.img-title img{
    width: 100%;
    height: 100%;
}

.piano-business{
    margin-top: 8rem;
    font-size: 1.7rem;
}

.checkbox{
    margin-top: 2rem;
}

.checkbox input:nth-child(3){
    margin-left: 5rem;
}

.plans{
    justify-content: space-between;
    margin-top: 2rem;
}

.card{
    background-color: yellow;
    border: 2px #0061ff solid;
    width: 30%;
    height: 40rem;
}

.card-row{
    background-color: rgb(89, 255, 0);
    border: 2px #ff0000 solid;
    width: 100%;
    height: 12.40rem;
    margin-top: 2rem;
}

.img-text{
    background-color: chocolate;
    height: 25rem;
    margin-top: 6rem;
}

.img-text~h2{
    margin-top: 6.5rem;
}

.operazioni-linex3{
    justify-content: space-between;
    margin-top: 3rem;
}

.operazione{
    background-color: yellow;
    border: 2px #0061ff solid;
    width: 30%;
    height: 19rem;
}

.n-team h2{
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.n-team{
    margin-bottom: 6.5rem;
}

.four-aziende{
    width: calc(100% / 3);
    flex-wrap: wrap;
    justify-content: center;
}

.azienda{
    background-color: aquamarine;
    width: 15.824rem;
    height: 15.824rem;
}

.azienda-principale{
    background-color: rgb(236, 255, 127);
    width: calc(100% / 3);
    height: calc(15.824rem * 2);
}

.porta-drop-in-azienda{
    background-color: rgb(255, 127, 127);
    width: 100%;
    height: 17rem;
}

.domande-frequenti{
    height: 18rem;
    background-color: darksalmon;
    margin-top: 7rem;
}